* {
  box-sizing: border-box;
}

.frame46 {
  position: relative;
  background: #ffffff;
  width: 1920px;
  height: 883px;
  overflow: hidden;

  .image13 {
    position: absolute;
    top: 43px;
    left: 45px;
    border-radius: 32px;
    width: 1830px;
    height: 798px;
  }

  .ellipse1 {
    display: flex;
    position: absolute;
    top: 91px;
    left: 174px;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
    background: #ffffff;
    padding: 45px 198px 170px 197px;
    width: 1573px;
    height: 722px;
    filter: blur(250px);

    .autoWrapper {
      position: relative;
      width: 1178px;
      height: 283px;

      .oneStopSolutionForAy4 {
        position: absolute;
        top: 0;
        left: 0;
        width: 1178px;
        height: 283px;
        text-align: center;
        letter-spacing: 0;
        color: #000000;
        font-size: 96px;
        text-shadow: 0px 4px 4px #00000040;

        .oneStopSolutionForAy {
          letter-spacing: 0;
          color: #000000;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 96px;
        }

        .oneStopSolutionForAy2 {
          letter-spacing: 0;
          color: #ff6b35;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 96px;
          font-weight: 600;
          font-style: italic;
        }

        .oneStopSolutionForAy3 {
          letter-spacing: 0;
          color: #001551;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 96px;
          font-weight: 900;
        }
      }

      .indiaSFirstLegalCons {
        display: flex;
        position: absolute;
        bottom: -103px;
        left: 26px;
        align-items: center;
        justify-content: center;
        width: 1126px;
        height: 205px;
        letter-spacing: 0;
        color: #000000;
        font-family: Verdana, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 32px;
        font-weight: 700;
      }
    }

    .container {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch;
      justify-content: center;
      margin: 131px 321px 0px;
      box-shadow: 0px 4px 4px 0px #00000040;

      .component12 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        background: #df5e12;
        padding: 14px 29px;
        width: 536px;
        height: 93px;

        .text {
          flex-shrink: 0;
          line-height: 50px;
          letter-spacing: 1.44px;
          color: #ffffff;
          font-family: Inconsolata, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 48px;
          font-weight: 700;
          text-transform: UPPERCASE;
        }
      }
    }
  }
}
