* {
  box-sizing: border-box;
}

.group44 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1549px;
  height: 1596px;

  .a2024 {
    flex-shrink: 0;
    line-height: 49px;
    letter-spacing: -1.6px;
    color: #ffffff;
    font-family: Verdana, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 700;
  }

  .heading {
    width: 667px;
    letter-spacing: -1.6px;
    color: #000000;
    font-family: Verdana, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 700;
  }

  .heading2 {
    width: 747px;
    letter-spacing: -1.6px;
    color: #000000;
    font-family: Verdana, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 700;
  }

  .group403 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    margin-right: 4px;

    .paragraph3 {
      opacity: 0.5;
      margin: 5px 0px 0px;
      width: 1479px;
      height: 145px;
      letter-spacing: -0.96px;
      color: #000000;
      font-family: Verdana, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 24px;
      font-weight: 700;
    }
  }

  .frame77 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    border-radius: 10px;
    background: #808080;
    padding: 6px 15px;
    width: 160px;
    height: 38px;

    .nCismEra2 {
      flex-shrink: 0;
      line-height: 24px;
      letter-spacing: -0.8px;
      color: #ffffff;
      font-family: Verdana, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-weight: 700;
    }
  }

  .frame71 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 15px;
    background: #d9d9d9;
    padding: 16px 33px;
    width: 1549px;
    height: 227px;
    row-gap: 12px;

    .frame70 {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 17px;
      margin-right: 1052px;

      .rectangle34 {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        border-radius: 10px;
        background: #ff6b35;
        padding: 7px 8px 13px 10px;

        .a20122019 {
          width: 253px;
          height: 44px;
          text-align: center;
          letter-spacing: -1.6px;
          color: #ffffff;
          font-family: Verdana, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 40px;
          font-weight: 700;
        }
      }

      .rectangle35 {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        border-radius: 10px;
        background: #808080;
        padding-top: 6px;
        padding-bottom: 8px;

        .iMccEra {
          width: 143px;
          height: 24px;
          text-align: center;
          letter-spacing: -0.8px;
          color: #ffffff;
          font-family: Verdana, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 20px;
          font-weight: 700;
        }
      }
    }

    .group40 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      margin-right: 4px;

      .paragraph {
        opacity: 0.5;
        margin: 5px 0px 0px;
        width: 1479px;
        height: 44px;
        letter-spacing: -0.96px;
        color: #000000;
        font-family: Verdana, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 24px;
        font-weight: 700;
      }
    }
  }

  .frame712 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
    border-radius: 15px;
    background: #d9d9d9;
    padding: 16px 33px;
    width: 1549px;
    height: 225px;
    row-gap: 12px;

    .frame702 {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 17px;
      margin-right: 1131px;

      .rectangle342 {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        border-radius: 10px;
        background: #ff6b35;
        padding: 7px 10px 13px;

        .a2022 {
          width: 164px;
          height: 44px;
          text-align: center;
          letter-spacing: -1.6px;
          color: #ffffff;
          font-family: Verdana, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 40px;
          font-weight: 700;
        }
      }

      .rectangle352 {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        border-radius: 10px;
        background: #808080;
        padding-top: 6px;
        padding-bottom: 8px;

        .nCismEra {
          width: 151px;
          height: 24px;
          text-align: center;
          letter-spacing: -0.8px;
          color: #ffffff;
          font-family: Verdana, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 20px;
          font-weight: 700;
        }
      }
    }

    .group402 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      margin-right: 1px;

      .paragraph2 {
        opacity: 0.5;
        margin: 5px 0px 0px;
        width: 1482px;
        height: 44px;
        letter-spacing: -0.96px;
        color: #000000;
        font-family: Verdana, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 24px;
        font-weight: 700;
      }
    }
  }

  .frame713 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
    border-radius: 15px;
    background: #d9d9d9;
    padding: 16px 33px;
    width: 1549px;
    height: 317px;
    row-gap: 12px;

    .frame703 {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 17px;
      margin-right: 1111px;

      .frame76 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        border-radius: 10px;
        background: #ff6b35;
        padding: 7px 9px;
        width: 195px;
        height: 64px;
      }
    }
  }

  .frame714 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
    border-radius: 15px;
    background: #d9d9d9;
    padding: 16px 33px;
    width: 1549px;
    height: 318px;
    row-gap: 12px;

    .frame704 {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 17px;
      margin-right: 1088px;

      .frame762 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        border-radius: 10px;
        background: #ff6b35;
        padding: 7px 9px;
        width: 218px;
        height: 64px;
      }
    }
  }

  .frame715 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    margin-top: 40px;
    border-radius: 15px;
    background: #d9d9d9;
    padding: 16px 33px 0px;
    width: 1549px;
    row-gap: 12px;

    .frame705 {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 17px;
      margin-right: 943px;

      .frame763 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        border-radius: 10px;
        background: #ff6b35;
        padding: 7px 9px;
        width: 363px;
        height: 64px;
      }
    }

    .group404 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      margin-right: 4px;

      .paragraph4 {
        opacity: 0.5;
        margin: 5px 0px 0px;
        width: 1479px;
        height: 203px;
        letter-spacing: -0.96px;
        color: #000000;
        font-family: Verdana, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 24px;
        font-weight: 700;
      }
    }
  }
}
