* {
  box-sizing: border-box;
}

.frame38 {
  display: flex;
  align-items: flex-start;
  background: #ffffff;
  padding: 3px 33px 4px 11px;
  width: 1920px;
  height: 94px;
  overflow: hidden;

  .image10 {
    width: 103px;
    height: 87px;
  }

  .heading {
    margin: 15px 0px 0px 50px;
    width: 152px;
    letter-spacing: -1.92px;
    color: #191919;
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: 700;
  }

  .frame44 {
    display: flex;
    align-items: center;
    column-gap: 41px;
    margin-top: 26px;
    margin-left: 252px;
    width: 1030px;

    .heading2 {
      flex-shrink: 0;
      width: 127px;
      letter-spacing: -1.12px;
      color: #000000;
      font-family: Verdana, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 28px;
    }

    .heading3 {
      flex-shrink: 0;
      width: 118px;
      letter-spacing: -1.12px;
      color: #000000;
      font-family: Verdana, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 28px;
    }

    .heading4 {
      flex-shrink: 0;
      width: 233px;
      letter-spacing: -1.12px;
      color: #000000;
      font-family: Verdana, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 28px;
    }

    .heading5 {
      flex-shrink: 0;
      width: 229px;
      letter-spacing: -1.12px;
      color: #000000;
      font-family: Verdana, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 28px;
    }

    .heading6 {
      flex-shrink: 0;
      width: 111px;
      letter-spacing: -1.12px;
      color: #000000;
      font-family: Verdana, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 28px;
    }
  }

  .component12 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 10px;
    margin-left: 18px;
    border-radius: 6px;
    background: #df5e12;
    padding: 14px 29px;

    .text {
      flex-shrink: 0;
      line-height: 38px;
      letter-spacing: 1.44px;
      color: #ffffff;
      font-family: Inconsolata, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 36px;
      font-weight: 700;
      text-transform: UPPERCASE;
    }
  }
}
