* {
  box-sizing: border-box;
}

.frame47 {
  position: relative;
  background: #f8f8f8;
  width: 1920px;
  height: 883px;
  overflow: hidden;

  .vector4 {
    position: absolute;
    top: -23px;
    left: -312px;
    width: 1947px;
    height: 949px;
    background-image: url(../image/mkin3vm9-lmc83ax.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .image10 {
      position: absolute;
      top: 27px;
      left: 753px;
      width: 1039px;
      height: 875px;
    }

    .frame59 {
      display: flex;
      position: absolute;
      top: 100px;
      left: 537px;
      flex-direction: column;
      align-items: flex-start;
      width: 837px;
      height: 554px;
      row-gap: 80px;

      .frame48 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        row-gap: 20px;

        .heading {
          flex-shrink: 0;
          align-self: stretch;
          letter-spacing: -2.88px;
          color: #ffffff;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 72px;
          font-weight: 900;
        }

        .paragraph4 {
          flex-shrink: 0;
          align-self: stretch;
          opacity: 0.5;
          letter-spacing: -0.96px;
          color: #ffffff;
          font-size: 24px;

          .paragraph {
            letter-spacing: -0.96px;
            color: #ffffff;
            font-family: Verdana, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
          }

          .paragraph2 {
            letter-spacing: -0.96px;
            color: #ffffff;
            font-family: Verdana, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-weight: 700;
          }

          .paragraph3 {
            letter-spacing: -0.96px;
            color: #ffffff;
            font-family: Verdana, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-style: italic;
          }
        }
      }

      .frame39 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 13px;

        .heading4 {
          flex-grow: 1;
          width: 776px;
          height: 48px;
          letter-spacing: -1.6px;
          color: #ffffff;
          font-size: 40px;

          .heading2 {
            letter-spacing: -1.6px;
            color: #ffffff;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 40px;
            font-weight: 500;
          }

          .heading3 {
            letter-spacing: -1.6px;
            color: #ffffff;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 40px;
            font-weight: 900;
          }
        }

        .autoWrapper {
          position: relative;
          flex-shrink: 0;
          width: 48px;
          height: 48px;

          .image11 {
            position: absolute;
            top: 0;
            left: 0;
            width: 48px;
            height: 48px;
            rotate: 90deg;
          }
        }
      }
    }
  }

  .rectangle20 {
    position: absolute;
    top: 63px;
    left: 1144px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px #00000040;
    background: #d9d9d9;
    width: 696px;
    height: 757px;
  }
}
