* {
  box-sizing: border-box;
}

.frame119 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #1a6b80;
  width: 1920px;
  height: 4881px;
  overflow: hidden;

  .autoWrapper {
    position: relative;
    margin-top: -288px;
    margin-left: -36px;
    width: 2054px;
    height: 681px;

    .vector4 {
      position: absolute;
      top: 0;
      left: 0;
      width: 2054px;
      height: 681px;
      rotate: -180deg;
    }

    .frame33 {
      display: flex;
      position: absolute;
      top: 331px;
      left: 300px;
      flex-direction: column;
      align-items: center;
      width: 1393px;
      height: 145px;

      .heading {
        flex-shrink: 0;
        align-self: stretch;
        text-align: center;
        letter-spacing: -2.88px;
        color: #1a6b80;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 72px;
        font-weight: 900;
      }

      .paragraph {
        flex-shrink: 0;
        align-self: stretch;
        opacity: 0.5;
        text-align: center;
        letter-spacing: -0.96px;
        color: #000000;
        font-family: Verdana, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 24px;
        font-weight: 700;
      }
    }
  }

  .autoWrapper2 {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    margin-top: 3397px;
    padding-right: 185px;
    padding-left: 186px;

    .frame85 {
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: flex-start;
      border-radius: 15px;
      background: #ffffff;
      padding: 16px 33px;
      height: 349px;
      row-gap: 10px;

      .a1970 {
        flex-shrink: 0;
        align-self: stretch;
        width: 398px;
        height: 73px;
        text-align: center;
        letter-spacing: -2.56px;
        color: #1a6b80;
        font-family: Verdana, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 64px;
        font-weight: 700;
      }

      .group40 {
        display: flex;
        position: absolute;
        top: 131px;
        left: 37px;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        width: 391px;
        height: 182px;

        .heading2 {
          width: 391px;
          letter-spacing: -1.6px;
          color: #000000;
          font-family: Verdana, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 40px;
          font-weight: 700;
        }

        .paragraph2 {
          opacity: 0.5;
          margin: 5px 0px 0px;
          width: 391px;
          height: 128px;
          letter-spacing: -0.96px;
          color: #1e1e1e;
          font-family: Verdana, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
          font-weight: 700;
        }
      }
    }
  }

  .vector2 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    margin: 83px -174px 0px -53px;
    padding: 78px 209px 14px 177px;
    background-image: url(../image/mkn5o7ry-sjn4zoe.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .heading4 {
      width: 206px;
      letter-spacing: 0;
      color: #ff6b35;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 32px;
      font-weight: 800;
    }

    .group29 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 38px;

      .heading3 {
        width: 223px;
        letter-spacing: 0;
        color: #ff6b35;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 32px;
        font-weight: 800;
      }

      .independentRegulator {
        margin: 9px 0px 0px;
        width: 275px;
        letter-spacing: 0;
        color: #1a6b80;
        font-family: Verdana, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 24px;
      }
    }

    .autoWrapper3 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin-left: 82px;

      .group27 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        margin-right: 285px;

        .homeAboutUsServicesW {
          margin: 9px 0px 0px;
          width: 254px;
          letter-spacing: 0;
          color: #1a6b80;
          font-family: Verdana, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
        }
      }

      .group28 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        margin-top: 43px;
        margin-left: 189px;

        .nCismApprovalLopAppe {
          margin: 9px 0px 0px;
          line-height: 29px;
          letter-spacing: 0;
          color: #1a6b80;
          font-family: Verdana, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
        }
      }
    }

    .autoWrapper4 {
      position: relative;
      margin-top: 77px;
      margin-left: 283px;
      width: 582px;
      height: 490px;

      .group292 {
        display: flex;
        position: absolute;
        top: 29px;
        left: -260px;
        flex-direction: column;
        align-items: flex-start;
        width: 522px;
        height: 232px;

        .newDelhiIndiaServing {
          margin: 19px 0px 0px 76px;
          line-height: 29px;
          letter-spacing: 0;
          color: #1a6b80;
          font-family: Verdana, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
        }
      }

      .image10 {
        position: absolute;
        top: 0;
        left: 0;
        width: 582px;
        height: 490px;
      }
    }
  }
}
