* {
  box-sizing: border-box;
}

.aScreenContactsWithF {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  background: #1a6b80;
  padding: 120px 120px 120px 170px;
  width: 1920px;
  height: 1041px;
  overflow: hidden;

  .guide {
    display: flex;
    position: absolute;
    top: 401px;
    left: 230px;
    align-items: center;
    justify-content: center;
    width: 1080px;
    height: 450px;
    letter-spacing: 0;
    color: #004d6140;
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 200px;
    font-weight: 700;
    font-style: italic;
  }

  .autoWrapper {
    display: flex;
    position: relative;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;

    .textWrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      overflow: hidden;
      row-gap: 24px;

      .heading4 {
        flex-shrink: 0;
        align-self: stretch;
        overflow: hidden;
        letter-spacing: 0;
        color: #000000;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 0;
        font-weight: 900;

        .heading {
          letter-spacing: -2.88px;
          color: #f8f8f8;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 72px;
          font-weight: 900;
        }

        .heading2 {
          letter-spacing: -2.88px;
          color: #ff6b35;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 72px;
          font-weight: 900;
        }

        .heading3 {
          letter-spacing: -2.4px;
          color: #f8f8f8;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 60px;
          font-weight: 900;
        }
      }

      .wrapper {
        display: flex;
        flex-shrink: 0;
        flex-wrap: wrap;
        align-content: flex-start;
        align-items: flex-start;
        align-self: stretch;
        column-gap: 24px;
        overflow: hidden;
        row-gap: 24px;

        .contentWrapper {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: flex-start;
          min-width: 256px;
          overflow: hidden;
          row-gap: 4px;

          .contactType {
            flex-shrink: 0;
            align-self: stretch;
            letter-spacing: -0.96px;
            color: #ff6b35;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-weight: 700;
          }

          .contactData {
            flex-shrink: 0;
            align-self: stretch;
            letter-spacing: -0.96px;
            color: #ffffff;
            font-family: Verdana, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
          }
        }
      }

      .buttonWrap {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        column-gap: 10px;
        padding-top: 40px;
        overflow: hidden;

        .ctaButton {
          display: flex;
          flex-grow: 1;
          align-items: center;
          justify-content: center;
          column-gap: 10px;
          border-radius: 10px;
          background: #ff6b35;
          padding: 24px;
          max-width: 408px;
          overflow: hidden;

          .ctaText {
            flex-grow: 1;
            text-align: center;
            letter-spacing: -0.96px;
            color: #f8f8f8;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-weight: 700;
          }
        }
      }
    }

    .formWrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      border-radius: 20px;
      background: #004d61;
      padding: 49px 48px;
      overflow: hidden;
      row-gap: 24px;

      .john {
        opacity: 0.25;
        line-height: 24px;
        letter-spacing: -0.8px;
        color: #ff6b35;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 20px;
      }

      .frame28 {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        padding-bottom: 5px;
        overflow: hidden;

        .name2 {
          width: 720px;
          letter-spacing: 1.28px;
          color: #ff6b35;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-weight: 500;
        }
      }

      .formHeading {
        flex-shrink: 0;
        align-self: stretch;
        overflow: hidden;
        letter-spacing: -1.92px;
        color: #f8f8f8;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 48px;
        font-weight: 900;
      }

      .colWrapper {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        column-gap: 10px;
        overflow: hidden;

        .frame26 {
          display: flex;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          margin-right: -7px;
          padding-bottom: 5px;
          overflow: hidden;

          .name {
            width: 355px;
            letter-spacing: 1.28px;
            color: #ff6b35;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 16px;
            font-weight: 500;
          }
        }

        .fieldWrapper {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: flex-start;
          overflow: hidden;
          row-gap: 4px;

          .smallField {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            border-radius: 10px;
            background: #ffffff;
            padding: 18px 284px 18px 20px;
            overflow: hidden;
          }
        }

        .fieldWrapper2 {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: flex-start;
          overflow: hidden;
          row-gap: 4px;

          .smallField2 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            border-radius: 10px;
            background: #ffffff;
            padding: 18px 291px 18px 20px;
            overflow: hidden;
          }
        }
      }

      .frame2 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        overflow: hidden;
        row-gap: 4px;

        .smallField3 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          border-radius: 10px;
          background: #ffffff;
          padding: 18px 531px 18px 17px;
          overflow: hidden;
        }
      }

      .frame3 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        overflow: hidden;
        row-gap: 4px;

        .smallField4 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          border-radius: 10px;
          background: #ffffff;
          padding: 18px 587px 18px 17px;
          overflow: hidden;
        }
      }

      .frame4 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        overflow: hidden;
        row-gap: 4px;

        .bigField {
          flex-shrink: 0;
          align-self: stretch;
          border-radius: 10px;
          background: #ffffff;
          height: 156px;
          overflow: hidden;
        }
      }

      .ctaButton2 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        column-gap: 10px;
        border-radius: 10px;
        background: #ff6b35;
        padding: 24px;
        overflow: hidden;

        .ctaText2 {
          flex-grow: 1;
          text-align: center;
          letter-spacing: -0.96px;
          color: #ffffff;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
          font-weight: 700;
        }
      }
    }
  }
}
