* {
  box-sizing: border-box;
}

.frame482 {
  position: relative;
  background: #1a6b80;
  width: 1920px;
  height: 966px;
  overflow: hidden;

  .frame48 {
    display: flex;
    position: absolute;
    top: 52px;
    left: 656px;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5px;
    width: 609px;
    height: 92px;
    row-gap: 20px;

    .heading3 {
      flex-shrink: 0;
      align-self: stretch;
      text-align: center;
      letter-spacing: -2.88px;
      color: #000000;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 72px;
      font-weight: 900;

      .heading {
        letter-spacing: -2.88px;
        color: #f8f8f8;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 72px;
        font-weight: 900;
      }

      .heading2 {
        letter-spacing: -2.88px;
        color: #ff6b35;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 72px;
        font-weight: 900;
      }
    }
  }

  .group28 {
    display: flex;
    position: absolute;
    top: 186px;
    left: 174px;
    flex-direction: column;
    align-items: center;
    width: 1573px;
    height: 692px;

    .nCismApprovalsLop {
      width: 666px;
      height: 34px;
      text-align: center;
      letter-spacing: 0;
      color: #f8f8f8;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 32px;
      font-weight: 800;
    }

    .autoWrapper {
      display: flex;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      padding-right: 0;
      padding-left: 0;

      .group7 {
        display: flex;
        align-items: center;
        box-shadow: 0px 4px 4px 0px #00000040;

        .group2 {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: center;
          border-radius: 10px;
          background: #004d61;
          padding: 24px 6px 19px;

          .mEsarComplianceAudit {
            width: 567px;
            height: 34px;
            text-align: center;
            letter-spacing: 0;
            color: #f8f8f8;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 32px;
            font-weight: 800;
          }

          .clauseWiseGapAnalysi {
            margin: 12px 0px 0px;
            width: 695px;
            height: 129px;
            text-align: center;
            letter-spacing: 0;
            color: #f8f8f8;
            font-family: Verdana, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
          }
        }
      }

      .group8 {
        display: flex;
        align-items: center;
        box-shadow: 0px 4px 4px 0px #00000040;
        padding-right: 1px;

        .group22 {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: center;
          margin-left: -1px;
          border-radius: 10px;
          background: #004d61;
          padding: 41px 6px 56px 7px;

          .guidanceForNewColleg {
            margin: 14px 0px 0px;
            width: 694px;
            height: 74px;
            text-align: center;
            letter-spacing: 0;
            color: #f8f8f8;
            font-family: Verdana, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
          }
        }
      }
    }

    .autoWrapper2 {
      display: flex;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      margin-top: 18px;
      padding-right: 0;
      padding-left: 0;

      .nTetEligibilityVerif {
        margin: 15px 0px 0px;
        width: 695px;
        height: 129px;
        text-align: center;
        letter-spacing: 0;
        color: #f8f8f8;
        font-family: Verdana, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 24px;
      }

      .group3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        box-shadow: 0px 4px 4px 0px #00000040;
        background: #004d61;
        padding: 38px 6px 2px;
      }

      .group4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        box-shadow: 0px 4px 4px 0px #00000040;
        background: #004d61;
        padding: 38px 5px 2px 7px;
      }
    }

    .autoWrapper3 {
      display: flex;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      margin-top: 18px;
      padding-right: 0;
      padding-left: 0;

      .group11 {
        display: flex;
        align-items: center;
        box-shadow: 0px 4px 4px 0px #00000040;

        .group5 {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: center;
          border-radius: 10px;
          background: #004d61;
          padding: 26px 6px 16px;

          .strategicResponseToS {
            margin: 23px 0px 0px;
            width: 694px;
            height: 120px;
            text-align: center;
            letter-spacing: 0;
            color: #f8f8f8;
            font-family: Verdana, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
          }
        }
      }

      .group6 {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        box-shadow: 0px 4px 4px 0px #00000040;
        background: #004d61;
        padding: 19px 6px 60px 7px;

        .monthlyComplianceRev {
          margin: 18px 0px 0px;
          width: 694px;
          height: 87px;
          text-align: center;
          letter-spacing: 0;
          color: #f8f8f8;
          font-family: Verdana, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
        }
      }
    }
  }

  .image10 {
    position: absolute;
    top: 72px;
    left: 441px;
    width: 1039px;
    height: 875px;
  }
}
