* {
  box-sizing: border-box;
}

.frame58 {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  background: #1a6b80;
  padding: 70px 83px 70px 566px;
  width: 1920px;
  height: 386px;
  overflow: hidden;

  .vector5 {
    position: absolute;
    top: -89px;
    left: 1532px;
    width: 419px;
    height: 233px;
  }

  .autoWrapper2 {
    display: flex;
    position: relative;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;

    .heading2 {
      flex-shrink: 0;
      width: 363px;
      text-align: center;
      letter-spacing: -1.6px;
      color: #f8f8f8;
      font-family: Verdana, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 40px;
    }

    .autoWrapper {
      position: relative;
      width: 609px;
      height: 246px;

      .line1 {
        position: absolute;
        top: 124px;
        left: -131px;
        border-radius: 50%;
        background: #ffffff;
        width: 255px;
        height: 3px;
        rotate: 90deg;
      }

      .line2 {
        position: absolute;
        top: 123px;
        right: -127px;
        border-radius: 50%;
        background: #ffffff;
        width: 255px;
        height: 3px;
        rotate: 90deg;
      }

      .group32 {
        position: absolute;
        top: 34px;
        left: -578px;
        width: 609px;
        height: 179px;

        .a100 {
          position: absolute;
          top: 0;
          left: 166px;
          width: 276px;
          height: 177px;
          text-align: center;
          letter-spacing: 0;
          color: #ffffff;
          font-family: Almarai, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 96px;
        }

        .frame48 {
          display: flex;
          position: absolute;
          top: 125px;
          left: 0;
          flex-direction: column;
          align-items: center;
          padding-bottom: 5px;
          width: 609px;
          height: 54px;
          row-gap: 20px;

          .heading {
            flex-shrink: 0;
            align-self: stretch;
            text-align: center;
            letter-spacing: -1.6px;
            color: #f8f8f8;
            font-family: Verdana, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 40px;
          }
        }
      }

      .group30 {
        position: absolute;
        top: 0;
        left: 0;
        width: 609px;
        height: 246px;

        .expert {
          position: absolute;
          top: 0;
          left: 159px;
          width: 290px;
          height: 177px;
          letter-spacing: 0;
          color: #ffffff;
          font-family: Almarai, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 96px;
        }

        .frame49 {
          display: flex;
          position: absolute;
          top: 148px;
          left: 0;
          flex-direction: column;
          align-items: center;
          width: 609px;
          height: 98px;
          row-gap: 20px;
        }
      }
    }

    .group31 {
      position: relative;
      width: 609px;
      height: 246px;

      .panIndia {
        position: absolute;
        top: 0;
        left: 23px;
        width: 563px;
        height: 177px;
        text-align: center;
        letter-spacing: 0;
        color: #ffffff;
        font-family: Almarai, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 96px;
      }

      .frame50 {
        display: flex;
        position: absolute;
        top: 143px;
        left: 0;
        flex-direction: column;
        align-items: center;
        padding-bottom: 5px;
        width: 609px;
        height: 103px;
        row-gap: 20px;
      }
    }
  }
}
