* {
  box-sizing: border-box;
}

.frame55 {
  display: flex;
  align-items: flex-start;
  background: #1a6b80;
  padding-top: 105px;
  width: 1920px;
  height: 670px;
  overflow: hidden;

  .vector2 {
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    margin-right: -114px;
    margin-left: -113px;
    padding: 78px 529px 176px 177px;
    background-image: url(../image/mkin4bin-rwemg53.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .heading2 {
      width: 206px;
      letter-spacing: 0;
      color: #ff6b35;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 32px;
      font-weight: 800;
    }

    .group29 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 38px;

      .heading {
        width: 223px;
        letter-spacing: 0;
        color: #ff6b35;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 32px;
        font-weight: 800;
      }

      .independentRegulator {
        margin: 9px 0px 0px;
        width: 275px;
        letter-spacing: 0;
        color: #1a6b80;
        font-family: Verdana, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 24px;
      }
    }

    .autoWrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin-left: 82px;

      .group27 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        margin-right: 285px;

        .homeAboutUsServicesW {
          margin: 9px 0px 0px;
          width: 254px;
          letter-spacing: 0;
          color: #1a6b80;
          font-family: Verdana, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
        }
      }

      .group28 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        margin-top: 43px;
        margin-left: 189px;

        .nCismApprovalLopAppe {
          margin: 9px 0px 0px;
          line-height: 29px;
          letter-spacing: 0;
          color: #1a6b80;
          font-family: Verdana, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
        }
      }
    }

    .group292 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 106px;
      margin-left: 23px;

      .newDelhiIndiaServing {
        margin: 19px 0px 0px 76px;
        line-height: 29px;
        letter-spacing: 0;
        color: #1a6b80;
        font-family: Verdana, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 24px;
      }
    }
  }
}
